<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo2.dao.DepartmentMapper">
	
	<select id="getDepartmentById" resultType="demo2.bean.Department">
		select * from tbl_dept where id=#{id}
	</select>
	
	<resultMap type="demo2.bean.Department" id="MyDepart">
		<id property="id" column="id"/>
		<result property="departmentName" column="departmentName"/>
		
		<!-- <collection property="emps" ofType="demo2.bean.Employee">
			<id property="id" column="id"/>
			<result property="lastName" column="lastName"/>
			<result property="email" column="email"/>
			<result property="gender" column="gender"/>
		</collection> -->
		
		<collection property="emps" select="demo2.dao.EmployeeMapper.getEmpByDId" 
			column="id" />
	</resultMap>
	<select id="getDepartmentByName" resultMap="MyDepart">
		select * from tbl_dept where departmentName ='${departmentName}'
	</select>
	
	
	
</mapper>