<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo2.dao.EmployeeMapper">
	
	
	<resultMap type="demo2.bean.Employee" id="EmployeeMap">
		<id property="id" column="id"/>
		<result property="lastName" column="lastName"/>
		<result property="email" column="email"/>
		<result property="gender" column="gender"/>
		
		<!-- <result property="dept.id"  column="d_id"/>
		<result property="dept.departmentName"  column="departmentName"/> -->
		
		<!-- <association property="dept"   javaType="demo2.bean.Department">
			<id property="id" column="d_id"/>
			<result property="departmentName" column="departmentName"/>
		</association> -->
		
		<association property="dept" select="demo2.dao.DepartmentMapper.getDepartmentById" 
					column="d_id" />
	</resultMap>
	<select id="getEmp"  resultMap="EmployeeMap" >
		select e.id,e.lastName,e.email,e.gender,e.d_id,d.departmentName 
			from tbl_employee e, tbl_dept d
			where e.d_id = d.id
	</select>
	
	<select id="getEmpByDId" resultType="demo2.bean.Employee">
		select * from tbl_employee where d_id=#{id}
	</select>
	
	<select id="getEmpByDId2" resultType="demo2.bean.Employee">
		select * from tbl_employee where d_id=#{d_id} and id=#{id}
	</select>
</mapper>