<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo1.EmployeeDao">
<!-- 
namespace:名称空间;指定为接口的全类名
id：唯一标识
resultType：返回值类型
#{id}：从传递过来的参数中取出id值
public Employee getEmpById(Integer id);
 -->
	<select id="getEmpById" resultType="demo1.Employee">
		select id,lastName,email,gender from tbl_employee where id = #{id}
	</select>
	
	<!-- 
		主键生成方式：自增主键，useGeneratedKeys="true"和keyProperty目标属性
	 -->
	<insert id="addEmp" parameterType="employee"
		 useGeneratedKeys="true" keyProperty="id" databaseId="mysql" >
		insert into tbl_employee(lastName,email,gender) 
		values(#{lastName},#{email},#{gender})
	</insert>
	
	<!-- 
		主键生成方式：非自增主键，使用selectkey子元素
	 -->	
	<insert id="addEmp" databaseId="oracle">
		<selectKey keyProperty="id" order="BEFORE" resultType="Integer">
			select EMPLOYEES_SEQ.nextval from dual 
		</selectKey>
		insert into tbl_employee(id,lastName,email,gender) 
		values(#{id},#{lastName},#{email},#{gender}) 
	</insert> 
	
	<delete id="deleteById" parameterType="demo1.Employee" >
		delete  from tbl_employee where id=#{id}
	</delete>
	
	<update id="updateBYId" parameterType="demo1.Employee" >
		update tbl_employee set lastName=#{lastName} where id=#{id}
	</update>
	
	<!-- 
		参数传递
	 -->
	<select id="getEmpByIdAndGenter" resultType="demo1.Employee">
		<!-- select * from tbl_employee where id=#{0} and gender=#{1} -->
		select * from tbl_employee where id=#{id} and gender='${genter}'
	</select>
</mapper>