<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
		使用properties来引入外部资源
		resource：类路径下的资源
		url：网络资源或者磁盘路径下资源
	 -->
	<properties resource="db.properties" />
	
	<!-- mybatis设置  -->
	<!-- 	<settings>
			设置延迟加载
			<setting name="lazyLoadingEnabled" value="true"/>
			<setting name="aggressiveLazyLoading" value="false"/>
		</settings> -->
	
	<!-- 别名标签 -->
	<!-- <typeAliases>
		<package name="demo1"/>
	</typeAliases> -->
	
	<!-- 类型处理器mybatis将java类型和数据库类型进行映射 -->	
	<typeHandlers></typeHandlers>
	
	<!-- 可对mybatis四大对象的任意方法进行介入（动态代理） -->
	<!-- <plugins></plugins> -->
	<!-- 插件设置 -->
	<plugins>
		<!-- <plugin interceptor="demo2.MyFirstPlugin" >
			<property name="username" value="cofe"/>
			<property name="password" value="123456"/> 
		</plugin> -->
		
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
		</plugin>
		
	</plugins>
	
	
	<!-- 环境 -->
	<environments default="mysqlDB">
		<environment id="mysqlDB">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
		
		<environment id="oracleDB">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${orcl.driver}" />
				<property name="url" value="${orcl.url}" />
				<property name="username" value="${orcl.username}" />
				<property name="password" value="${orcl.password}" />
			</dataSource>
		</environment> 
	</environments>
	
	<!-- databaseIdProvider：支持多数据库厂商的；
		 type="DB_VENDOR"：VendorDatabaseIdProvider
		 	作用就是得到数据库厂商的标识(驱动getDatabaseProductName())，
		 	mybatis就能根据数据库厂商标识来执行不同的sql;
		 	MySQL，Oracle，SQL Server,xxxx
	  -->
	<databaseIdProvider type="DB_VENDOR">
		<!-- 为不同的数据库厂商起别名 -->
		<property name="MySQL" value="mysql"/>
		<property name="Oracle" value="oracle"/>
		<property name="SQL Server" value="sqlserver"/>
	</databaseIdProvider>
	
	<!-- 将我们写好的sql映射文件（EmployeeMapper.xml）一定要注册到全局配置文件（mybatis-config.xml）中 -->
	<mappers>
		<mapper resource="UserDaoMapper.xml"/>
		<package name="demo1.mapper.dao"/>
		<package name="demo2.dao"/>
	</mappers>
</configuration>