<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="statement">
	<insert id="insertStatement" parameterType="demo1.statement.pojo.User" >
		insert into user(username,sex,birthday,address) 
		values(#{username},#{sex},#{birthday},#{address})
	</insert>
</mapper>